pre {
	white-space:pre-wrap;word-wrap:break-word;
}
.markdown-content{
	font-size:14px;
}
.markdown-content h1,.markdown-content  h2,.markdown-content  h3,.markdown-content  h4,.markdown-content  h5,.markdown-content  h6
	{
	margin: 10px 0;
	font-weight: bold;
}

.markdown-content h1 {
	color: #000000;
	font-size: 28px;
}

.markdown-content h2 {
	color: #000000;
	font-size: 24px;
}

.markdown-content h3 {
	font-size: 18px;
}

.markdown-content h4 {
	font-size: 16px;
}

.markdown-content h5 {
	font-size: 14px;
}

.markdown-content h6 {
	color: #777777;
	background-color: inherit;
	font-size: 14px;
}

.markdown-content hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

.markdown-content strong{
	font-weight:bold;
}

.markdown-content p,.markdown-content blockquote,.markdown-content ul,.markdown-content ol,.markdown-content dl,.markdown-content li,.markdown-content table,.markdown-content pre
	{
	margin: 10px 0;
	font-size: 10.5pt;
}

.markdown-content em {
	font-style: italic;
}

.markdown-content pre {
	line-height: 18px;
	margin: 10px 0;
	font-size: 9pt;
	font-family: Courier New, Arial;
	border: 1px solid rgb(221, 221, 221);
	border-left: 5px solid rgb(108, 226, 108);
	background: rgb(246, 246, 246);
	padding: 5px;
	white-space: pre-wrap;
}

.markdown-content pre code {
	background-color: #F8F8F8;
	border: none;
	padding: 0;
}

.markdown-content code {
	font-family: Consolas, Monaco, Andale Mono, monospace;
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	padding: 0 0.2em;
	line-height: 23px;
}

.markdown-content pre>code {
	border: 0;
	margin: 0;
	padding: 0;
}

.markdown-content a:focus {
	outline: thin dotted;
}

.markdown-content a:hover,.markdown-content a:active {
	outline: 0;
}

.markdown-content blockquote {
	color: #060;
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em #EEE solid;
}

.markdown-content ul,.markdown-content ol {
	margin: 1em 0;
	list-style-position: inside;
	margin: 20px 0 20px 10px;
	line-height: 20px;
}

.markdown-content ul {
	list-style-type: circle;
}

.markdown-content ol {
	list-style-type: decimal;
}

.markdown-content li p:last-child {
	margin: 0
}

.markdown-content dd {
	margin: 0 0 0 2em;
}

.markdown-content img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%;
}

.markdown-content table {
	border-collapse: collapse;
	border-spacing: 0;
}

.markdown-content td {
	vertical-align: top;
}